/*
 * Globals
 */

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #555;
  height: 100%;
}

html {
  height: 100%;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}

/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}


/*
 * Background Text for Dummy Map
 */

.backgroundmap-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 105px;
}
/* Source: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_hero_image */

/*
 * Full Spread Image
 */

.background {
    /* The image used */
    background-image: url("/static/cover_img.jpg "); /* Dimensions: 940 × 675 */

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* Source: https://www.w3schools.com/howto/howto_css_full_page.asp */


/*
 * Masthead for nav
 */

/* Nav links */
.nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: #cdddeb;
}
.nav-item:hover,
.nav-item:focus {
  color: #fff;
  text-decoration: none;
}

/* Active state gets a caret at the bottom */
.nav .active {
  color: #fff;
}
.nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}


/*
 * Blog name and description
 */

.header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
}
.description {
  font-size: 40px;
  color: #999;
}

/*
 * Main column and sidebar layout
 */

.blog-main {
  font-size: 18px;
  line-height: 1.5;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}
/* Source: https://www.w3schools.com/howto/howto_css_fixed_menu.asp */

/*
 * Main column and sidebar layout
 */
.maptext-container {

  position: relative;
  color: #000000;

  /* Full height */
    height: 100%;
}

.maptext-container:hover {
  opacity: 0.3;
}
/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_overlay_opacity */


/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}


/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}

/*
 * Parallax Slider
 */

.parallax {
    /* The image used */
    background-image: url("/static/cover_img.jpg");

    /* Set a specific height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* Source: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_parallax */

/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 60px;
}
.blog-post-title {
  margin-bottom: 5px;
  font-size: 40px;
}
.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}


/*
 * Footer
 */

.blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

/* Allow map to fill viewport */
.container-fluid
{
    /* Height of these elements */
    height: 40%;

    /* No margin around these elements */
    margin: 0;

    /* Disable scrollbars */
    overflow: hidden;

    /* No padding within these elements */
    padding: 0;

    /* */
    width: 970px;
}
#map-canvas
{
  height: 600px;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Right align form */
#form
{
    /* Position form "absolutely" where we want it */
    position: static;

    /* Distance from top edge of viewport */
    top: 28px;

    /* Form's width */
    width: 100%;
}
#form .form-group
{
    /* Block-level flex container */
    display: flex;

    /* Center container's content */
    justify-content: flex-start;
}


/* Stylize text box */
/*#q*/
/*{*/
    /* Override typeahead.js's transparent background */
/*    background-color: #ffffff !important;*/

    /* Text box's width */
/*    width: 300px;*/
/*}*/

/* Stylize typeahead.js a la http://twitter.github.io/typeahead.js/css/examples.css */
/*.tt-menu*/
/*{*/
/*    background-color: #fff;*/
/*    border: 1px solid #ccc;*/
/*    border-radius: 4px;*/
/*    margin-top: 1px;*/
/*    max-height: 150px;*/
/*    overflow-y: auto;*/
/*    width: 300px;*/
/*}*/
/*.tt-suggestion.tt-cursor {*/
/*    background-color: #0097cf;*/
/*    color: #fff;*/
/*    cursor: pointer;*/
/*}*/
/*.tt-suggestion {*/
/*    margin: 0;*/
/*    padding: 6px 12px;*/
/*}*/